
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Shadows+Into+Light&display=swap');


body {
  font-family: "Shadows Into Light", cursive;
  font-weight: 400;
  font-style: normal;
  background: #FAFAFA;
  padding: 2rem;
  max-width: 700px;
  margin: auto;
}

h1 {
  text-align: center;
  border: 1px solid #ddd;
  background: #fff;
  color: #0077cc;;
  letter-spacing: 7px;
  padding: 50px;
  border-radius: 8px;
}

.song {
  background: #fff;
  border: 1px solid #ddd;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 8px;
}

.song h3 {
  margin: 0;
  color: #0077cc;
}

.song p {
  margin: 0.3rem 0;
  color: #555;
} 

#favorite-btn {
  font-size: 2em;
  cursor: pointer;
  width: fit-content;
}

audio {
  width: 250px;
}

div {
  display: grid;
  padding: 10px;
  grid-template-columns: auto auto;
  grid-gap: 10px;
}

img {
  margin: 1px;
}